html {
    background-color: #122c34;
    font-family: 'Merriweather', sans-serif;
    color: #fff;
}
.btn {
    background-color: #4ea5d9;
    color: #224870;
    text-align: center;
    border: 4px solid #2a4494;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    width: 500px;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    background-color: #44cfcb;
}